<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link href="/card.css" rel="stylesheet">
</head>

<body>
    <div class="loader" style="display:flex"></div>
        <div class="one">Loading . . .</div>
    </div>
    <h1 style="color:rgb(255, 0, 170)">New Account</h1>
    <%if(error.length!==0){%>
        <div class="flash">
            <div class="delet">
                <p><%=error%></p>
                <svg  class="successCut" style="cursor:pointer" width="16"  viewBox="0 0 384 512">
                    <path stroke-width="" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                </svg>
            </div>
        </div>
    <%}%>
        <form action="/registeruser" method="post" class="create">
            <label for="username">Username:</label>
            <input type="text" id="username" autofocus required spellcheck="false" name="username"
                autocomplete="username" placeholder="Enter Username...">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required spellcheck="false" autocomplete="email"
                placeholder="Enter Email: E.g. anshu@gmail.com">
            <label for="pass1">Password:</label>
            <input type="password" id="pass1" name="password" required autocomplete="new-password"
                placeholder="Enter Password...">
            <label for="pass2">Re-enter:</label>
            <input type="text" id="pass2" name="password2" required placeholder="Re-enter Password...">
            <div class="outmsg" >
                <svg viewBox="0 0 24 24" width="18" height="25" fill="red">
                    <g>
                        <path
                            d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 15a1 1 0 1 1 1-1 1 1 0 0 1-1 1zm1-4a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0z">
                        </path>
                    </g>
                </svg>
                <p class="msg"></p>
            </div>
            <button type="button" class="go">Create</button>
            
        </form>
        <div class="new">
            <a href="/login">Allready have account</a>
        </div>
            <script src="create.js"></script>
</body>
</html>
<script>
    let loader = document.querySelector(".loader");
    loader.style.display = "none"
    </script>